* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #000;
  color: #fff;
}
main {
  width: 50vw;
  margin: 15vh auto;
  background-color: #000;
  border: 2px groove gray;
}
article {
  width: 600px;
  margin: 2vh auto;
  padding: 2vh;
  display: flex;
  justify-content: space-around;
  border: 10px solid #fff;
  border-radius: 15px;
}
h2 {
  font-size: 45px;
  margin-bottom: 2vh;
}
h2,
h6 {
  text-align: center;
}
p {
  font-size: 45px;
}
